* {
    font-family: 'Jost', sans-serif;
}
.container {
    position: absolute; 
    width: 100%;
}.header {
    padding-top: 20px;
    width: 100;
    background: linear-gradient(to right, #b24592, #f15f79);
    margin-bottom: 20px;
}
.siteID {
    width: 100px;
    margin-left: 20px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    background: rgba(66, 2, 109, 0.952);
    color: white;
    transition: ease-in-out .7s;
}
.siteID:hover {
    transform: rotate(-360deg);
}
.inputBox {
    width: 90%;
    margin: auto;
    max-width: 700px;
    margin-top: 230px;
    padding-bottom: 45px;
    text-align: center;
}
#title {
    width: 60%;
    max-width: 200px;
    text-align: center;
    margin-bottom: 15px;  
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    background: rgba(66, 2, 109, 0.952);
    transition: ease-in-out .7s;
    color: white;
}
input:-webkit-input-placeholder {
  color: black;​
}​
input::-moz-placeholder { 
  color: black;​
}​
input:-ms-input-placeholder {
  color: black;
​}​
input:-moz-placeholder {
  color: black;
}
input {
    height: 40px;
    width: 60%;
    padding-left: 10px;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: .7s;
    margin-bottom: 5px;
}
input focus {
    outline:none;
}
.button {
    width: 20%;
    max-width: 80px;
    height: 44px;
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.errorMssg {
    display: none;
    animation: shake .1s linear both;
}
@keyframes shake {
    25% {
        margin-left: -10px;
    }
    50% {
        margin-left: 10px;
    }
    75% {
        margin-left: -10px ;
    }
    100% {
        margin-left: 10px;
    }
}
.taskBox {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
}
img {
    width: 430px;
    height: auto;
}

ol {
    width: 90%;
    max-width: 600px;
    margin: auto;
    list-style: 1;
}
ol li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 14px 20px;
    padding-right: 0;
    transition: 0.2s;
    margin-bottom: 10px;
    border-radius: 20px;
    background: rgb(219, 219, 219);
}
.closebtn {
    float: right;
    border: none;
    text-align: center;
    color: white;
    width: 72px;
    background: linear-gradient(to right, #b24592, #f15f79);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -12px;
    height: 44px;
}
ol li.checked {
    background: teal;
    text-decoration: line-through;
    border: 1px solid teal;
    color: #fff;
}
