//light mode
$white: #F8FAFF;
$grey: #8190BD;
$brightBlue: #0669FF;
$desaturatedBlue: #2F3B5C;
$navyBlue: #0D1F53;
$lightShadow: #9cbff8;              //sideBar


//dark mode
$darkBlue: #041955;
$lightBlue: #97B4FF;
$purple: #D108EB;